@model TelCompany.Models.Discount

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Discount</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayName("Discount No: ")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DiscountID)
		</dd>
		<dt>
			@Html.DisplayName("Percentage of Discount: ")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PercOfDiscount)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
