@model IEnumerable<TelCompany.Models.Discount>

@{
    ViewBag.Title = "Index";
}

<h2>Discounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
	<tr>
		<th>
			@Html.DisplayName("Discount No :")
		</th>
		<th>
			@Html.DisplayName("Percentage of Discount: ")
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.DiscountID)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.PercOfDiscount)
	</td>
	<td>
		@Html.ActionLink("Edit", "Edit", new { id = item.DiscountID }) |
		@Html.ActionLink("Details", "Details", new { id = item.DiscountID }) |
		@Html.ActionLink("Delete", "Delete", new { id = item.DiscountID })
	</td>
</tr>
}

</table>
