@model TelCompany.Models.Purchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayName("Purchase No : ")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PurchaseID)
		</dd>

		<dt>
		<dt>
			@Html.DisplayName("Price: ")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Price)
		</dd>

		<dt>
			@Html.DisplayName("Date: ")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Date)
		</dd>

		<dt>
			@Html.DisplayName("Article: ")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Article.Name)
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
